.hero-container {
    width: 100%;
    max-width: 1080px; /* Maximum width of the container */
    margin: 0 auto; /* Center the container horizontally */
    border-radius: 17px; /* Rounded edges */
    overflow: hidden;
  }
  
  .hero-image-container {
    width: 100%;
    height: 400px; 
    background-image: url("https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTA4L3Jhd3BpeGVsb2ZmaWNlM19waG90b19vZl9hX2dyb3VwX29mX21lbl9yaWRpbmdfb25fdGhlX2JhY2tzX29mX182OGQ3MTk4OC05YTFmLTRiNzAtYmU1MS02ODUwM2ViMzJjNjdfMS5qcGc.jpg");
    background-size: cover; 
    background-position: center; 
    border-radius: 17px; 
  }
  
  
  .hero-text-container {
    padding: 20px; /* Adjust padding as needed */
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background color */
    border-radius: 17px; /* Rounded edges */
  }
  
  .hero-text-container h1 {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 10px; /* Adjust spacing between title and description */
  }
  
  .hero-text-container p {
    font-size: 1.2rem;
    color: white;
    margin: 0; /* Remove default margins */
  }
  