/* navbar.css */

/* Sidebar styling */
.sidebar {
    background-color: #2a231e; /* Sidebar background color */
    width: 303px; /* Sidebar width */
    padding-top: 20px; /* Optional: Add padding to the top of the sidebar */

  }
  
  /* Logo styling */
  .logo-container {
    margin-top: 72px; /* Space above the logo */
    margin-bottom: 20px; /* Optional: Add margin below the logo */
  }
  
  .logo {
    width: 100%; /* Make the logo fill the container */
    height: auto; /* Ensure the aspect ratio is maintained */
  }
  
  /* Menu styling */
  .menu {
    margin-top: 146px; /* Space between logo and menu */
  }
  
  /* MenuItem styling (adjust as needed) */
  .menu-item {
    color: white; /* Example: Set text color to white */
    padding: 10px; /* Example: Add padding to menu items */
    /* Add more styling properties as needed */
  }

.button {
    background-color: '#13395e';
    color: '#b6c8d9';
}

/* Spacer styling */
.spacer {
    width: 202px; /* Spacer width */
    height: 4px; /* Spacer height */
    background-color: #2D3238; /* Spacer color */
    margin: 0 auto 36px; /* Center-align spacer and add gap between spacers */
    border-radius: 3px; /* Rounded edges */
}
