@tailwind base;
@tailwind components;
@tailwind utilities;

body {

}

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.container {
  width: 100%;
  padding: 1.5rem 1rem 1rem;
  margin-right: auto;
  margin-left: auto;

}

.row {

}


.content {
  display: flex;
}

/*Timeline Code*/
.image-container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.row img {
  width: 20%; /* Adjust the width as needed */
  margin: 5px; /* Adjust margin as needed */
}



/* Define styles for the main container */
.main-container {
  margin-left: 250px; 
  padding: 20px; 
  height: 100%; 
}

/* Add more specific styling for the header and main content if needed */