@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Raleway', sans-serif; 
  color: white !important;

}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

/* Navbar styling */
.App-header:hover, /* Change color on hover */
.App-header:focus {
  color: #B9E425; /* Change color to #B9E425 */
}

.App-link {
  color: #61dafb;
}


.container {
  width: 100%;
  padding: 1.5rem 1rem 1rem;
  margin-right: auto;
  margin-left: auto;

}

.row {

}

html, body {
  height: 100%;
  margin: 0;
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(26,29,33,1) 100%);
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content {
  display: flex;
}

/*Timeline Code*/
.image-container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.row img {
  width: 20%; /* Adjust the width as needed */
  margin: 5px; /* Adjust margin as needed */
}

/* Define styles for the sidebar */
.sidebar {
  width: 250px; /* Adjust width as needed */
  height: 100vh; /* Set sidebar height to full height of viewport */
  position: fixed; /* Fix the sidebar position */
  left: 0; /* Position the sidebar on the left side */
}

/* Define styles for the main container */
.main-container {
  margin-left: 250px; 
  padding: 20px; 
  height: 100%; 
  body: white
}

/* Add more specific styling for the header and main content if needed */
