/* index.css */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Use @tailwind base instead of @layer base */
@tailwind base;

/* Global styles for HTML, body, and root */
html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  color: white; 
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(26,29,33,1) 100%);

}

/* App styles */
.app {
  display: flex;
  position: relative;
  
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
  
}

::-webkit-scrollbar-thumb {
  background: #b2c314;
}

::-webkit-scrollbar-track:hover {
  background: #e51515;
}


h6 {
  color: #b9e425;
}

h5 {
  color: #697181;
}

.nav-link button:hover {
  background-color: #ff1e83;
}

/* Link styles */
a {
  text-decoration: none;
  color: rgb(228, 86, 86);
}

a:hover {
  color: #1a6dc5;
}

/* Navbar styles */
.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh; /* Use 100vh to fill the entire viewport height */
    width: 250px;
    z-index: 100;
    background-color: #1E242A;
  
}

/* Apply hover color to ps-menu-button */
.ps-menu-button:hover {
  background-color: #b9e425; /* Change the background color on hover */
}

.ps-sidebar-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* Icon styles within links */
.logo-container {
  background-color: #1E242A; 

}
.menu-item:hover svg {
  fill: #25cee4; 
}

/*override sidebar*/
.ps-menu-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50px;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
  cursor: pointer;
  filter: none;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #1E242A;  /* Set background color to transparent */
}

::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #d08282;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  
}
*, ::before, ::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #427ef7;
}

.menu-item {
  position: relative;
  border-right-width: 1px;
  border-right-style: solid;
  -webkit-transition: width, left, right, 300ms;
  transition: width, left, right, 300ms;
  width: 250px;
  min-width: 250px;
}
*, ::after, ::before {
  box-sizing: border-box;
}

/* Add styles for the SidebarStats component */
.sidebar-stats {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px; /* Adjust width as needed */
  height: 100vh;
  background-color: #1E242A; /* Example background color */
  z-index: 100;
  /* Add other styles as needed */
}


@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Use @tailwind base instead of @layer base */
@tailwind base;

/* Global styles for HTML, body, and root */
html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  color: white; 
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(26,29,33,1) 100%);

}

/* App styles */
.app {
  display: flex;
  position: relative;
  
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
  
}

::-webkit-scrollbar-thumb {
  background: #b2c314;
}

::-webkit-scrollbar-track:hover {
  background: #e51515;
}

/* Button styles */
button {
  color: rgb(220, 216, 20);
  background-color: #b9e425;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-link button:hover {
  background-color: #ff1e83;
}

/* Link styles */
a {
  text-decoration: none;
  color: rgb(228, 86, 86);
}

a:hover {
  color: #1a6dc5;
}

/* Navbar styles */
.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh; /* Use 100vh to fill the entire viewport height */
    width: 250px;
    z-index: 100;
    background-color: #1E242A;
  
}

/* Apply hover color to ps-menu-button */
.ps-menu-button:hover {
  background-color: #b9e425; /* Change the background color on hover */
}

.ps-sidebar-root-container-test-id {
  height: 100%;
  background-color: #1e242a1a;
}

/* Icon styles within links */
.logo-container {
  background-color: #1E242A; 

}
.menu-item:hover svg {
  fill: #25cee4; 
}

/*override sidebar*/
.ps-menu-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50px;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
  cursor: pointer;
  filter: none;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #1E242A;  /* Set background color to transparent */
}

::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #d08282;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  
}
*, ::before, ::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #427ef7;
}

.menu-item {
  position: relative;
  border-right-width: 1px;
  border-right-style: solid;
  -webkit-transition: width, left, right, 300ms;
  transition: width, left, right, 300ms;
  width: 250px;
  min-width: 250px;
}
*, ::after, ::before {
  box-sizing: border-box;
}

/* Add styles for the SidebarStats component */
.sidebar-stats {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px; 
  height: 100vh;
  background-color: #1E242A; 
  z-index: 100;
}

/*Grid Container*/
.wrap {
  width: 100%;
  margin: 0 auto;
  display: flex;
}


#sidebar-left,
#sidebar-right {
  width: 200px;
}

/*#sidebar-left {
  background-color: #e3e9ee;
}*/

/* SideBar Right With Live Stats */
#sidebar-right {
  background-color: #1E242A;
  width: 250px; /* Adjust width */
  position: fixed; /* Add fixed position */
  top: 0; /* Align with the top */
  right: 0; /* Align with the right */
  height: 100vh; /* Occupy full viewport height */
  z-index: 100; /* Ensure it's above other elements */
  padding: 0 20px;
}

@media only screen and (min-width: 1050px) {
  .wrap {
    width: 1050px;
  }

  #main-content {
    width: 10%; 
  }

  #sidebar-right {
    width: 20%; /* Updated width */
  }
}

@media only screen and (min-width: 1400px) {
  .wrap {
    margin: 0 auto;
    display: flex;
    height: 100%; 
   }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #sidebar-right {
    width: 50%;
  }
}

/*Main Container*/
.main {
  grid-area: main;
  height: 100%;
  width: 100%;
}

/*Spacing Between Top Cards*/
.main-overview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
  grid-auto-rows: 180px;
  grid-gap: 20px;
  margin: 20px;
  height: 50%; /* Set the height to distribute evenly */

}
/*Top Small Cards*/
.overviewcard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-width: 1px; 
  border-color: #697181; 
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.035); /* Morph background effect */
  backdrop-filter: blur(10px); /* Glass effect */
}


/*Spacing between Cards*/
.main-cards {
  column-count: 1;
  column-gap: 20px;
  margin: 20px;
  justify-content: center; 
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  -webkit-column-break-inside: avoid;
  padding: 24px;
  box-sizing: border-box;
}

/* Force varying heights to simulate dynamic content */
.card:first-child {
  height: 485px;
}

.card:nth-child(2) {
  height: 200px;
}

.card:nth-child(3) {
  height: 265px;
}

/* Non-mobile styles, 750px breakpoint */
@media only screen and (min-width: 46.875em) {
  /* Show the sidenav */
  .grid-container {
    grid-template-columns: 240px 1fr;
    grid-template-areas:
      "sidenav header"
  }

  .header__search {
    margin-left: 0;
  }

  .sidenav {
    position: relative;
    transform: translateX(0);
  }

  .sidenav__close-icon {
    visibility: hidden;
  }
}

/* Medium screens breakpoint (1050px) */
@media only screen and (min-width: 65.625em) {
  /* Break out main cards into two columns */
  .main-cards {
    column-count: 2;
  }
}

/*Timeline Card*/
.card {
  padding: 20px; /* Adjust padding as needed */
  margin-bottom: 20px;
}

/* Scope styles to card2 and card3 */
.card.card2,
.card.card3 {
  height: 350px;
}

.line-chart-page .main-overview {
  margin-bottom: 20px; /* Adjust margin as needed */
}

.line-chart-page .main-cards {
  margin-top: 20px; /* Adjust margin as needed */
}

/*Comparism Blocks*/
.compare-main-cards {
  display: flex; /* Use flexbox to display cards in the same row */
  flex-wrap: wrap; /* Allow cards to wrap to the next line if needed */
}

.compare-card {
  height: 500px;
  margin: 10px;
  padding: 10px;
  border-width: 1px; 
  border-color: #697181; 
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.749); /* Morph background effect */
  backdrop-filter: blur(10px); /* Glass effect */
}


.compare-card-wrapper {
  display: inline-block;
  margin-right: 20px; /* Adjust margin as needed */
  width: calc(50% - 20px); /* Adjust the width of each card to take up half of the available space, minus margins */

}
/* Compare.css */
.row {
  display: flex;
  align-items: center;
}

.stars {
  margin-left: 10px;
}

/*Charts css*/
/* Adjust according to your specific chart styles */
.chart-container {
  /* Example: Set border color for all charts */
  border-color: #FFFFFF;
}

/* Apply white color to all text elements inside charts */
.chart-container * {
  color: #FFFFFF;
}

/*drop down menu*/
.dropdown-menu {
  height: 30px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #697181;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.06); /* Morph background effect */
  backdrop-filter: blur(10px); /* Glass effect */
  color: #B9E425; /* Font color */
}
